.typeBar {
  width: 50%;
  height: 16px;
  border-radius: 3px;
  opacity: 0.7;
  background-color: transparent;
  border: 4px solid var(--color-header);
  position: relative;
  overflow: hidden;
}

.typeBar-fill {
  height: 100%;
  border: 4px solid var(--color-header);
  background-color: var(--color-header);
  position: absolute;
}

.typeBar-row {
  width: 100%;
  opacity: 0.7;
  color: var(--color-header);
}
