.blogCard {
  width: 100%;
  border-radius: 50px;
  opacity: 0.7;
  background-color: transparent;
  border: 4px solid var(--color-header);
  color: var(--color-header);
  padding: 20px 50px;
  box-shadow: 0 5px 7px rgba(0, 0, 0, 0.4);
}
