.recordingCard {
  width: 100%;
  border-radius: 50px;
  opacity: 0.7;
  background-color: transparent;
  border: 4px solid var(--color-header);
  color: var(--color-header);
  padding: 10px 50px;
  box-shadow: 0 5px 7px rgba(0, 0, 0, 0.4);
}

.progressBar {
  height: 4px;
  background-color: rgba(103, 55, 141, 0.2); /* header color */
  position: relative;
  overflow: hidden;
}

.progressBar-fill {
  height: 4px;
  background-color: rgba(103, 55, 141, 0.7); /* header color */
  position: absolute;
  left: 0;
  top: 0;
  cursor: pointer;
}
