.scoreCard {
  height: 320px;
  width: 320px;
  border-radius: 50px;
  opacity: 0.7;
  background-color: transparent;
  border: 4px solid var(--color-header);
  color: var(--color-header);
  padding: 20px;
  box-shadow: 0 5px 7px rgba(0, 0, 0, 0.4);
  overflow: hidden;
  text-overflow: ellipsis;
  display: flex;
  flex-direction: column;
}

.scoreCard-image {
  width: 100%;
  height: 240px;
  overflow: hidden;
  border-radius: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.scoreCard-title {
  margin-top: 20px;
  text-align: center;
}
